<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IDerivativesCalculator"
                       bypassProxyOnLocal="false"
                       hostNameComparisonMode="StrongWildcard"
                       maxBufferSize="65536"
                       maxBufferPoolSize="524288"
                       maxReceivedMessageSize="65536"
                       messageEncoding="Text"
                       textEncoding="utf-8"
                       transferMode="Buffered"
                       useDefaultWebProxy="true">
                <readerQuotas maxDepth="247483647"
                              maxStringContentLength="247483647"
                              maxArrayLength="247483647"
                              maxNameTableCharCount="247483647"/>
                <security mode="None">
                  <transport clientCredentialType="None"
                             proxyCredentialType="None"
                             realm=""/>
                  <message clientCredentialType="UserName"
                           algorithmSuite="Default"/>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Derivatives/CalculatorService"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IDerivativesCalculator"
                contract="DerivativesCalculatorService.IDerivativesCalculator"
                name="BasicHttpBinding_IDerivativesCalculator" />
        </client>
    </system.serviceModel>
</configuration>